<div
  class="relative isolate flex items-center gap-x-6 overflow-hidden bg-gray-300 px-6 py-8 mb-4 h-40 sm:px-3.5 sm:before:flex-1">
  <span class="text-center"> banner com fotos </span>
</div>

<section class="container mx-auto">
  <div class="grid grid-cols-1 md:grid-cols-1 gap-2">
    <div class="">
      <h2 class="text-xl font-bold mb-4">Conheça quem faz acontecer</h2>
      <p class="text-gray-700">
        Nossa equipe de professores experientes e dedicados, apaixonados pelo ensino e com
        formação sólida, garante um aprendizado individualizado e de qualidade.
      </p>
    </div>
  </div>
</section>
<section class="container mx-auto mt-4">
  <div
    class="grid grid-cols-1 gap-4 sm:grid-cols-2 sm:gap-1 md:grid-cols-3 md:gap-2 lg:grid-cols-4 lg:gap-3">
    <div
      *ngFor="let card of cards"
      class="px-4 py-2 shadow-lg w-[250px] h-[330px] flex flex-col justify-between">
      <div class="h-56 bg-gray-400 flex items-center justify-center mb-4">
        <p class="text-center">Photo</p>
      </div>
      <div class="text-center flex-grow flex flex-col justify-end">
        <div class="font-bold">{{ card.name }}</div>
        <div class="text-sm text-gray-600">{{ card.role }}</div>
      </div>
    </div>
  </div>
</section>

<section class="container mx-auto">
  <div class="flex justify-center items-center mt-4">
    <div class="p-8 rounded flex items-start space-x-8">
      <div class="flex flex-col justify-between max-w-lg">
        <div>
          <p class="text-gray-700 italic mb-4">
            Estudei lá da 6ª série ao 2º ano do médio. Professores excelentes,
            funcionários simpáticos e dedicados, e diretora e coordenadora maravilhosas. O
            método de ensino é ótimo, mas a estrutura precisa melhorar um pouco. Recomendo
            muito!
          </p>
          <p class="font-bold text-gray-900">Keiko W</p>
          <p class="text-gray-600 mb-6">Ex-Aluna</p>
        </div>
        <!-- Navigation Buttons -->
        <div class="flex space-x-4">
          <button
            class="bg-white text-gray-500 border border-gray-300 rounded-full p-2 hover:bg-gray-100 focus:outline-none">
            <svg
              class="h-6 w-6"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M15 19l-7-7 7-7"></path>
            </svg>
          </button>
          <button
            class="bg-white text-gray-500 border border-gray-300 rounded-full p-2 hover:bg-gray-100 focus:outline-none">
            <svg
              class="h-6 w-6"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M9 5l7 7-7 7"></path>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<app-contact-form></app-contact-form>
