<div class="p-6 max-w-2xl mx-auto bg-white border rounded shadow">
  <h2 class="text-xl font-semibold mb-4">{{ isEdit ? 'Editar' : 'Novo' }} Carrossel da Home</h2>

  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <div class="mb-4">
      <label class="block font-medium">Imagem</label>
      <input type="file" (change)="onFileChange($event)" />
    </div>

    <!-- Pré-visualização -->
    <div *ngIf="imagemPreview" class="mb-4">
      <img
        [src]="imagemPreview"
        alt="Prévia da imagem"
        class="w-[250px] h-[250px. ] object-cover rounded border" />
    </div>

    <div class="mb-4">
      <label class="block text-sm font-medium mb-1">Ordem</label>
      <input type="number" formControlName="ordem" class="w-full border px-3 py-2 rounded" />
    </div>

    <div class="mb-4">
      <label class="flex items-center gap-2 cursor-pointer">
        <input type="checkbox" formControlName="ativo" />
        <span>Ativo</span>
      </label>
    </div>

    <button
      type="button"
      (click)="onSubmit()"
      [disabled]="loading"
      class="flex items-center gap-2 px-4 py-2 border border-blueDefault text-blueDefault rounded hover:bg-blue-100 transition">
      {{ loading ? 'Salvando...' : isEdit ? 'Atualizar' : 'Criar' }}
    </button>
  </form>
</div>
