<div *ngIf="isLoading" class="flex justify-center items-center h-56 md:h-96">
  <div class="animate-spin rounded-full h-10 w-10 border-t-2 border-b-2 border-blue-500"></div>
</div>

<div *ngIf="!isLoading && carrosselItems.length > 0" class="relative w-full">
  <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
    <div
      *ngFor="let item of carrosselItems; let i = index"
      [class.hidden]="i !== currentSlideIndex"
      class="duration-700 ease-in-out"
      data-carousel-item>
      <img
        [src]="item.imagem"
        class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 object-cover"
        alt="Slide {{ i + 1 }}" />
    </div>
  </div>

  <!-- Indicadores -->
  <div class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3">
    <button
      *ngFor="let item of carrosselItems; let i = index"
      type="button"
      class="w-3 h-3 rounded-full"
      [class.bg-white]="i === currentSlideIndex"
      [class.bg-gray-400]="i !== currentSlideIndex"
      (click)="goToSlide(i)"></button>
  </div>

  <!-- Botão anterior -->
  <button
    type="button"
    class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group"
    (click)="prevSlide()">
    <span
      class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 group-hover:bg-white/50">
      <svg class="w-4 h-4 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M5 1 1 5l4 4" />
      </svg>
    </span>
  </button>

  <!-- Botão próximo -->
  <button
    type="button"
    class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group"
    (click)="nextSlide()">
    <span
      class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 group-hover:bg-white/50">
      <svg class="w-4 h-4 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="m1 9 4-4-4-4" />
      </svg>
    </span>
  </button>
</div>
