<app-banner></app-banner>
<section class="container mx-auto my-20">
  <h2 class="text-4xl font-bold mt-20 mb-10 text-center text-mainFontColor">
    Nossos Diferenciais
  </h2>

  <p class="text-mainFontColor text-light">
    Somos um Colégio de gente para gente, onde cada aluno é valorizado como parte
    fundamental do dia a dia. Nossa missão é oferecer uma educação de excelência, com foco
    no desenvolvimento integral dos estudantes, preparando-os para os desafios do futuro.
    <br />
    <br />
    Muito mais do que uma instituição de ensino; somos uma família. Cada aluno é único e
    essencial para a construção de uma comunidade forte e unida. Juntos, estamos
    empenhados em formar cidadãos conscientes, responsáveis e preparados para transformar
    o mundo.
  </p>
</section>
<section class="container mx-auto my-20">
  <div
    *ngFor="let item of diferenciaisItens"
    class="bg-white p-6 rounded-lg shadow-md flex flex-row items-center mb-10">
    <!-- Imagem circular à esquerda -->
    <div
      class="flex-shrink-0 w-24 h-24 mr-8 rounded-full overflow-hidden flex items-center justify-center">
      <img [src]="item.imgSrc" alt="icons" class="w-24 h-24 object-cover" />
    </div>

    <!-- Texto à direita -->
    <div class="flex flex-col">
      <h2 class="text-left text-xl font-bold mb-4">{{ item.title }}</h2>
      <p class="text-mainFontColor text-left">{{ item.description }}</p>
    </div>
  </div>
</section>
