<footer class="bg-white dark:bg-gray-900">
  <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
    <div class="grid grid-cols-4 gap-4 md:grid-cols-4 md:gap-4 sm:grid-cols-2 sm:gap-2">
      <div>
        <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">
          Contato
        </h2>
        <ul class="text-gray-500 dark:text-gray-400 font-medium">
          <li class="mb-1">
            <a class="hover:underline" href="tel:+551123785045">(11) 2378 5045</a>
          </li>
          <li class="mb-1">
            <a class="hover:underline" href="tel:+5511981850475">(11) 98185 0475</a>
          </li>
          <li class="mb-1">
            <a class="hover:underline" href="tel:+5511981850273">(11) 98185 0273</a>
          </li>
        </ul>
      </div>
      <div>
        <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">
          Endereços
        </h2>
        <ul class="text-gray-500 dark:text-gray-400 font-medium">
          <li class="mb-4">
            Rua Doutor Euclídes Ferreira da Silva, 55 - Vila Oliveira <br />
            Mogi das Cruzes - SP<br />08790-140 <br />Brasil
          </li>
        </ul>
      </div>
      <div>
        <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">
          Horário de Funcionamento
        </h2>
        <ul class="text-gray-500 dark:text-gray-400 font-medium">
          <li class="mb-1">
            <span class="font-bold">Segunda a sexta:</span> 7h30 até as 18h
          </li>
          <li><span class="font-bold">Sábados e Domingos:</span> Fechado</li>
        </ul>
      </div>
      <div>
        <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">
          Siga nossas redes
        </h2>
        <ul class="text-gray-500 dark:text-gray-400 font-medium inline-block">
          <li class="mb-4 mr-2 inline-block">
            <a
              href="https://www.facebook.com/colegio.ienec"
              target="_blank"
              class="hover:underline">
              <img
                src="../../../assets/socials-facebook.png"
                srcset="../../../assets/socials-facebook@2x.png 2x"
                alt="facebook" />
            </a>
          </li>
          <li class="mb-4 mr-2 inline-block">
            <a
              href="https://www.facebook.com/colegio.ienec"
              target="_blank"
              class="hover:underline">
              <img
                src="../../../assets/socials-twitter.png"
                srcset="../../../assets/socials-twitter@2x.png 2x"
                alt="x" />
            </a>
          </li>
          <li class="mb-4 mr-2 inline-block">
            <a
              href="https://www.facebook.com/colegio.ienec"
              target="_blank"
              class="hover:underline">
              <img
                src="../../../assets/socials-youtube.png"
                srcset="../../../assets/socials-youtube@2x.png 2x"
                alt="youtube" />
            </a>
          </li>
          <li class="mb-4 inline-block">
            <a
              href="https://www.linkedin.com/company/colegioienec/"
              target="_blank"
              class="hover:underline">
              <img
                src="../../../assets/socials-linkedin.png"
                srcset="../../../assets/socials-linkedin@2x.png 2x"
                alt="linkedin" />
            </a>
          </li>
        </ul>
      </div>
    </div>
    <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
    <div class="sm:flex sm:items-center sm:justify-between">
      <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400"
        >&copy; {{ footerDate | date: 'yyyy' }}
        <a href="https://www.colegioienec.com/" class="hover:underline">Colégio Ienec</a>.
        Todos os direitos reservados - CNPJ: 08.772.037/0001-40
      </span>
      <div class="flex mt-4 sm:justify-center sm:mt-0">
        <a
          href="https://www.linkedin.com/company/colegioienec/"
          target="_blank"
          class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
          <span class="sr-only">LinkedIn page</span>
        </a>
        <a
          href="https://www.facebook.com/colegio.ienec/"
          target="_blank"
          class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
          <span class="sr-only">Facebook page</span>
        </a>

        <a
          href="https://www.instagram.com/colegio.ienec/"
          target="_blank"
          class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
          <span class="sr-only">Instagram page</span>
        </a>
      </div>
    </div>
  </div>
</footer>
