<footer class="bg-white dark:bg-gray-900">
  <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
    <div class="grid grid-cols-4 gap-4 md:grid-cols-4 md:gap-4 sm:grid-cols-2 sm:gap-2">
      <div>
        <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">
          Contato
        </h2>
        <ul class="text-gray-500 dark:text-gray-400 font-medium">
          <li class="mb-1">
            <a class="hover:underline" href="tel:+551123785045">(11) 2378 5045</a>
          </li>
          <li class="mb-1">
            <a class="hover:underline" href="tel:+5511981850475">(11) 98185 0475</a>
          </li>
          <li class="mb-1">
            <a class="hover:underline" href="tel:+5511981850273">(11) 98185 0273</a>
          </li>
        </ul>
      </div>
      <div>
        <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">
          Endereços
        </h2>
        <ul class="text-gray-500 dark:text-gray-400 font-medium">
          <li class="mb-4">
            Rua Doutor Euclídes Ferreira da Silva, 55 - Vila Oliveira <br />
            Mogi das Cruzes - SP<br />08790-140 <br />Brasil
          </li>
        </ul>
      </div>
      <div>
        <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">
          Horário de Funcionamento
        </h2>
        <ul class="text-gray-500 dark:text-gray-400 font-medium">
          <li class="mb-1">
            <span class="font-bold">Segunda a sexta:</span> 7h30 até as 18h
          </li>
          <li><span class="font-bold">Sábados e Domingos:</span> Fechado</li>
        </ul>
      </div>
      <div>
        <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">
          Siga nossas redes
        </h2>
        <ul class="text-gray-500 dark:text-gray-400 font-medium inline-block">
          <li class="mb-4 mr-2 inline-block">
            <a
              href="https://www.facebook.com/colegio.ienec"
              target="_blank"
              class="hover:underline">
              <img
                src="../../../assets/socials-facebook.png"
                srcset="../../../assets/socials-facebook@2x.png 2x"
                alt="facebook" />
            </a>
          </li>
          <li class="mb-4 mr-2 inline-block">
            <a
              href="https://www.facebook.com/colegio.ienec"
              target="_blank"
              class="hover:underline">
              <img
                src="../../../assets/socials-twitter.png"
                srcset="../../../assets/socials-twitter@2x.png 2x"
                alt="x" />
            </a>
          </li>
          <li class="mb-4 mr-2 inline-block">
            <a
              href="https://www.facebook.com/colegio.ienec"
              target="_blank"
              class="hover:underline">
              <img
                src="../../../assets/socials-youtube.png"
                srcset="../../../assets/socials-youtube@2x.png 2x"
                alt="youtube" />
            </a>
          </li>
          <li class="mb-4 inline-block">
            <a
              href="https://www.linkedin.com/company/colegioienec/"
              target="_blank"
              class="hover:underline">
              <img
                src="../../../assets/socials-linkedin.png"
                srcset="../../../assets/socials-linkedin@2x.png 2x"
                alt="linkedin" />
            </a>
          </li>
        </ul>
      </div>
    </div>
    <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
    <div class="sm:flex sm:items-center sm:justify-between">
      <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400"
        >&copy; {{ footerDate | date: 'yyyy' }}
        <a href="https://www.colegioienec.com/" class="hover:underline">Colégio Ienec</a>.
        Todos os direitos reservados - CNPJ: 08.772.037/0001-40
      </span>
      <div class="flex mt-4 sm:justify-center sm:mt-0">
        <a
          href="https://www.linkedin.com/company/colegioienec/"
          target="_blank"
          class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
          <span class="sr-only">LinkedIn page</span>
        </a>
        <a
          href="https://www.facebook.com/colegio.ienec/"
          target="_blank"
          class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
          <span class="sr-only">Facebook page</span>
        </a>

        <a
          href="https://www.instagram.com/colegio.ienec/"
          target="_blank"
          class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
          <span class="sr-only">Instagram page</span>
        </a>
      </div>
    </div>
  </div>
  <div class="group fixed bottom-0 right-0 p-2 flex items-end justify-end w-24 h-24">
    <!-- main -->
    <div
      class="flex items-center justify-center p-5 bg-white hover:shadow-md rounded-full z-50 absolute">
      <a href="https://wa.me/5511981850475" target="_blank">
        <img
          src="../assets/whatsapp_icon.png"
          class="object-cover hover:cursor-pointer"
          alt="whatsapp" />
      </a>
    </div>
    <!-- sub left -->
    <!-- <div
      class="absolute rounded-full transition-all duration-[0.2s] ease-out scale-y-0 group-hover:scale-y-100 group-hover:-translate-x-24 flex p-2 hover:p-3 bg-green-300 scale-100 hover:bg-green-400 text-white">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-5 h-5">
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M21 10.5h.375c.621 0 1.125.504 1.125 1.125v2.25c0 .621-.504 1.125-1.125 1.125H21M3.75 18h15A2.25 2.25 0 0021 15.75v-6a2.25 2.25 0 00-2.25-2.25h-15A2.25 2.25 0 001.5 9.75v6A2.25 2.25 0 003.75 18z" />
      </svg>
    </div> -->
    <!-- sub top -->
    <!-- <div
      class="absolute rounded-full transition-all duration-[0.2s] ease-out scale-x-0 group-hover:scale-x-100 group-hover:-translate-y-24 flex p-2 hover:p-3 bg-blue-300 hover:bg-blue-400 text-white">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-5 h-5">
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M9.143 17.082a24.248 24.248 0 003.844.148m-3.844-.148a23.856 23.856 0 01-5.455-1.31 8.964 8.964 0 002.3-5.542m3.155 6.852a3 3 0 005.667 1.97m1.965-2.277L21 21m-4.225-4.225a23.81 23.81 0 003.536-1.003A8.967 8.967 0 0118 9.75V9A6 6 0 006.53 6.53m10.245 10.245L6.53 6.53M3 3l3.53 3.53" />
      </svg>
    </div> -->
    <!-- sub middle -->
    <!-- <div
      class="absolute rounded-full transition-all duration-[0.2s] ease-out scale-x-0 group-hover:scale-x-100 group-hover:-translate-y-20 group-hover:-translate-x-20 flex p-2 hover:p-3 bg-yellow-300 hover:bg-yellow-400 text-white">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-5 h-5">
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5m-9-6h.008v.008H12v-.008zM12 15h.008v.008H12V15zm0 2.25h.008v.008H12v-.008zM9.75 15h.008v.008H9.75V15zm0 2.25h.008v.008H9.75v-.008zM7.5 15h.008v.008H7.5V15zm0 2.25h.008v.008H7.5v-.008zm6.75-4.5h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V15zm0 2.25h.008v.008h-.008v-.008zm2.25-4.5h.008v.008H16.5v-.008zm0 2.25h.008v.008H16.5V15z" />
      </svg>
    </div> -->
  </div>
</footer>
