<footer class="container mx-auto bg-white">
  <div class="p-6 lg:py-8">
    <div class="grid gap-6 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
      <!-- Endereço -->
      <div class="text-center lg:text-left">
        <h2 class="mb-4 text-sm font-semibold text-gray-900 uppercase">Endereço</h2>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3658.2228535393983!2d-46.17486152425478!3d-23.524485760239262!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cdd84b66f2b4af%3A0x2ab8ebe69cbf0c37!2sR.%20Dr.%20Eucl%C3%ADdes%20Ferreira%20da%20Silva%2C%2055%20-%20Vila%20Oliveira%2C%20Mogi%20das%20Cruzes%20-%20SP%2C%2008790-140!5e0!3m2!1sen!2sbr!4v1719794541779!5m2!1sen!2sbr"
          class="w-full h-48 md:h-64"
          style="border:0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade">
        </iframe>
      </div>

      <!-- Horário de Funcionamento -->
      <div class="text-center lg:text-left">
        <h2 class="mb-4 text-sm font-semibold text-gray-900 uppercase">
          Horário de Funcionamento
        </h2>
        <ul class="text-gray-600 font-medium">
          <li class="mb-2">
            <span class="font-bold">Segunda a sexta:</span> 7h30 até as 18h
          </li>
          <li><span class="font-bold">Sábados e Domingos:</span> Fechado</li>
        </ul>
      </div>

      <!-- Instagram -->
      <div class="text-center lg:text-left">
        <h2 class="mb-4 text-sm font-semibold text-gray-900 uppercase">
          Siga nosso Instagram
        </h2>
        <blockquote class="instagram-media" data-instgrm-captioned data-instgrm-permalink="https://www.instagram.com/p/DAlKMOKp9iM/"
          data-instgrm-version="14" style="background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:540px; min-width:326px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);">
          <div style="padding:16px;">
            <a href="https://www.instagram.com/p/DAlKMOKp9iM/" style="background:#FFFFFF; line-height:0; padding:0 0; text-align:center; text-decoration:none; width:100%;" target="_blank">
              <div style="display: flex; flex-direction: row; align-items: center;">
                <div style="background-color: #F4F4F4; border-radius: 50%; flex-grow: 0; height: 40px; margin-right: 14px; width: 40px;"></div>
                <div style="display: flex; flex-direction: column; flex-grow: 1; justify-content: center;">
                  <div style="background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; margin-bottom: 6px; width: 100px;"></div>
                  <div style="background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; width: 60px;"></div>
                </div>
              </div>
              <div style="padding: 19% 0;"></div>
              <div style="display:block; height:50px; margin:0 auto 12px; width:50px;">
                <svg width="50px" height="50px" viewBox="0 0 60 60" version="1.1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink">
                  <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g transform="translate(-511.000000, -20.000000)" fill="#000000">
                      <g>
                        <path d="M556.869,30.41 C554.814,30.41 553.148,32.076 553.148,34.131 ..."></path>
                      </g>
                    </g>
                  </g>
                </svg>
              </div>
              <div style="padding-top: 8px;">
                <div style="color:#3897f0; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:550; line-height:18px;">
                  View this post on Instagram
                </div>
              </div>
              <div style="padding: 12.5% 0;"></div>
              <p style="color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;">
                <a href="https://www.instagram.com/p/DAlKMOKp9iM/" style="color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; text-decoration:none;" target="_blank">
                  A post shared by Colégio Ienec (@colegio.ienec)
                </a>
              </p>
            </a>
          </div>
        </blockquote>
        <script async src="//www.instagram.com/embed.js"></script>
      </div>
    </div>
  </div>

  <!-- WhatsApp Botão 1 -->
  <div class="fixed bottom-4 right-2 sm:right-4 p-2 flex items-center bg-green-500 rounded-full hover:shadow-md z-50 max-w-full">
    <a href="https://wa.me/5511981850475" target="_blank" class="flex items-center space-x-2 text-white px-4 py-2">
      <img src="../assets/whatsapp_icon.png" class="w-6 h-6" alt="WhatsApp" />
      <span class="font-semibold">Agende sua visita</span>
    </a>
  </div>


</footer>
